html {
    font-family: 'Reddit Mono', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article a {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, #685cc650 60%, transparent 60%);
}
body > main > ul > li > a,
body > main > article > div:nth-child(5) > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 999px;
    background: #685cc6;
}
body > main > ul > li > a:hover,
body > main > article > div:nth-child(5) > ul > li > a:hover {
    background: #685cc650;
    color: #685cc6;
    text-decoration: none
}
img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}
body > header {
    margin-bottom: 0 !important;
}