---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>

Cambodiano serves you a daily cup of bold, rich storytelling—with a twist. Think of it like your morning Americano, but with a distinctly Cambodian flavor.


	</p>

	<p>
What’s a Cambodiano? It’s not just a coffee. It’s a concept. Inspired by the Americano, and perhaps a cousin of the Canadiano, the Cambodiano blends the warmth of Cambodian culture with the strength of creative expression.

	</p>

	<p>
Each day, we pour out short fiction that’s sharp, surprising, and grounded in the spirit of Cambodia. Whether it's stories set in the bustling streets of Phnom Penh, the quiet rhythms of rural life, or surreal tales that bend time and reality, Cambodiano gives you a taste of the unexpected.

	</p>

	<p>
Brewed for curious minds and lovers of storytelling, Cambodiano is your daily literary espresso shot—with a Khmer kick.

	</p>

</Layout>
